name: agent-authz-profile
target:
  resources:
    - "//networkservices.googleapis.com/projects/${PROJECT_ID}/locations/${REGION}/agentGateways/${GATEWAY_NAME}"
policyProfile: REQUEST_AUTHZ
action: CUSTOM
customProvider:
  authzExtension:
    resources:
      - "projects/${PROJECT_ID}/locations/${REGION}/authzExtensions/iap-authz-ext"
